.reset-password {
    margin-top: 64px;
    padding: 80px;

    .reset-password-container {
        max-width: 448px;
        padding: 48px;
        border-radius: var(--spacing-spc-none, 0px);
        border: 1px solid var(--Pearl-Bush-900, #593C35);
        background: var(--Rodeo-Dust-100, #F1EBE3);
    }

    .title {
        align-self: unset;
    }

    .logo {
        width: 50%;
        min-width: 500px;
    }
}
