.userdetailpage-first {
    display: flex;
    width: 100%;
    height: 993px;
    padding: var(--spacing-spc-none, 0px);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--spacing-spc-none, 0px);
    background: var(--Ivory, #F9F6F3)
}

.top-container {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: var(--spacing-spc-none, 0px);
    margin-bottom: 71px;
}

.underline-btn-frame {
    align-items: center;
}




.avatar {
    position: relative;
    width: 141px;
    height: 141px;
    border-radius: var(--spacing-spc-none, 141px);
    background: url(../../Components/Assets/Pic_1.png), lightgray 50% / cover no-repeat;
}

input{
    font-family: 'nunito';
}

.top-container>Button i {
    position: absolute;
    top: 27%;
    right: 47%;
    transform: translate(50%, -50%);
    color: white;
    background-color: black;
    padding: 6px;
    border-radius: var(--spacing-spc-none, 16.57px);
}

.bot-container {
    display: flex;
    padding: var(--spacing-spc-none, 0px);

    align-items: flex-start;
    gap: 23px;
    border-radius: var(--spacing-spc-none, 0px);
}

.setting-icon {
    font-size: 16px;
}

.bot-left-container {
    display: flex;
    width: 330px;
    height: 380px;
    padding: 51px 59px 44px 42px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    border-radius: var(--spacing-spc-none, 0px);
    border: var(--spacing-spc-none, 1px) solid #000;
}

.list-button {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    border-radius: var(--spacing-spc-none, 0px);

}

.info-container {
    display: flex;
    width: 827px;
    height: 573px;
    padding: 51px 137px 3px 79px;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    border-radius: var(--spacing-spc-none, 0px);
    border: 1px solid #000
}

.bot-right-title {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: var(--spacing-spc-none, 0px);
}

.bot-right-body {
    display: flex;
    width: 611px;
    padding: var(--spacing-spc-none, 0px);
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
    border-radius: var(--spacing-spc-none, 0px);
}

.bot-right-body1 {
    display: flex;
    width: 164px;
    height: 260px;
    padding: var(--spacing-spc-none, 0px);

    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 36px;
    flex-shrink: 0;
}

.bot-right-body2 {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    border-radius: var(--spacing-spc-none, 0px);
}

.gender-choose {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    align-items: center;
    gap: 16px;
    margin: 32px 0px 32px 0px;
    border-radius: var(--spacing-spc-none, 0px);
}

#day-input,
#month-input,
#year-input {
    display: flex;
    width: 108px;
    height: 32px;
    padding: 6px 12px;
    justify-content: space-between;
    align-items: center;
}

.bot-right-body2>input {
    display: flex;
    width: 419px;
    padding: 8px 12px;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(174, 174, 174, 0.50);
    background: #FFF;
}

.bot-right-btt {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: var(--spacing-spc-none, 0px);
}

.date-choose {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    align-items: flex-start;
    gap: 15px;
    border-radius: var(--spacing-spc-none, 0px);
}

#name-input,
#email-input {
    margin-bottom: 23px;
}

.bot-right-btt>Button {
    display: flex;
    width: 129px;
    padding: 12px 32px;
}

.pay-container {
    display: flex;
    width: 815px;
    padding: var(--spacing-spc-lg, 48px) var(--spacing-spc-xl, 64px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-spc-md, 32px);
    border-radius: var(--spacing-spc-none, 0px);
    border: 1px solid #000;
    background: #F9F6F3;
}

.pay-title {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-spc-sm, 16px);
    border-radius: var(--spacing-spc-none, 0px);
}

.pay-body {
    display: flex;
    width: 672px;
    padding: var(--spacing-spc-none, 0px);
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--spacing-spc-md, 32px);
    flex-wrap: wrap;
    border-radius: var(--spacing-spc-none, 0px);
}

.pay-item-1,
.pay-item-2,
.pay-item-3 {
    display: flex;
    width: 320px;
    height: 173px;
    padding: var(--spacing-spc-sm, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-spc-xl, 64px);
    flex-shrink: 0;
    color: #ffffff;

}

.pay-item-1 {
    border-radius: 10px;
    background: linear-gradient(51deg, rgba(255, 33, 139, 0.37) -42.81%, rgba(255, 0, 133, 0.74) 22.92%, #D80583 67.89%);
}

.pay-item-2 {
    border-radius: 10px;
    background: linear-gradient(51deg, #7CBF3E -42.81%, #006B41 67.89%);
}

.pay-item-3 {
    border-radius: 10px;
    background: linear-gradient(51deg, #0688DF -42.81%, #156193 67.89%);
}

.pay-item-4 {
    display: flex;
    width: 320px;
    height: 173px;
    padding: var(--spacing-spc-sm, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-spc-sm, 16px);
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(51deg, rgba(174, 130, 97, 0.50) -42.81%, rgba(94, 80, 63, 0.50) 67.89%);
}

.card-info {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-spc-2xs, 4px);
    border-radius: var(--spacing-spc-none, 0px);
}

.card-type {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    align-items: center;
    gap: var(--spacing-spc-xs, 8px);
    border-radius: var(--spacing-spc-none, 0px);
}

.changePass-container {
    display: flex;
    width: 827px;
    height: 500px;
    padding: 51px 137px 3px 79px;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;
    border-radius: var(--spacing-spc-none, 0px);
    border: 1px solid #000
}

.momo {
    width: 40px;
    height: 40px;
}

.cp-body {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    align-items: flex-start;
    gap: 29px;
    border-radius: var(--spacing-spc-none, 0px);
}

.cp-label {
    display: flex;
    margin: 10px var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: var(--spacing-spc-none, 0px);
}

.cp-input {
    display: flex;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    border-radius: var(--spacing-spc-none, 0px);
    padding-top: 6px;
}

.cp-input>input {
    display: flex;
    width: 408.308px;
    padding: 8px 14.618px;
    align-items: center;
    gap: 12.182px;
    border-radius: 2.436px;
    border: 1.218px solid rgba(174, 174, 174, 0.50);
    background: #FFF;
}