.detail-container {
    position: relative;
    width: 100%;
    min-width: 530px;
}

.detail-nav {
    position: absolute;
    display: inline-flex;
    top: -45px;
    left: 0;
}

.detail-nav-btn {
    border-radius: 12px 12px var(--spacing-spc-none, 0px) var(--spacing-spc-none, 0px);
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
}

.detail-nav-btn:nth-of-type(1) {
    z-index: 3;
}

.detail-nav-btn:nth-of-type(2) {
    z-index: 2;
    margin-left: -4px;
}

.detail-nav-btn:nth-of-type(3) {
    z-index: 1;
    margin-left: -4px;
}

.detail-nav .active {
    background: var(--Rodeo-Dust-700, #855B49);
    padding: 12px 24px;
}

.detail-nav .unactive {
    background: var(--Rodeo-Dust-500, #B28E7F);
    padding: 8px 24px;
}

.detail-content {
    z-index: 4;
    max-height: 624px;
    width: 100%;
    justify-content: flex-start;
    padding: 32px 24px 24px 24px;
    border-radius: 0px 0px 5px 5px;
    border: 1px solid var(--Accent-Color, #5E503F);
    background: #F9F6F3;
    transition: max-height 0.5s ease-in-out;
}

.detail-content-item {
    justify-content: flex-start;
    overflow: hidden;
}

.expanded {
    max-height: 100%;
}

.expand-icon {
    cursor: pointer;
}

ul.inside {
    list-style-position: inside;
}

@media screen and (max-width: 1040px) {
    .detail-content-item{
        width: 100%;
        font-size: 14px;
    }

    .detail-content{
        width: 100%;
        min-width: 367px;;
    }

    .detail-container{
        width: 100%;
        min-width: 367px;;
    }
}

@media screen and (max-width: 767px) {
    .detail-nav-btn.unactive {
        display: none;
    }

    .prod-desc-con {
        display: none;
    }
}

@media screen and (max-width: 464px) {
    .detail-nav-btn{
        width: fit-content;
        font-weight: 500;
    }
    .detail-nav{
        top: -46px;
    }
    .detail-content-item{
        font-size: 11px;
    }
    .detail-content{
        width: 100%;
        min-width: 367px;;
    }
}
