.footer {
  color: white;
  padding:  48px;
  flex-wrap: wrap;
  background:#3B3023;

  .footer-holder {
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
  }

  .footer-nav {
    max-width: 100%;
  }
  
  .footer-vector-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  
  .footer-logo {
    width: 280.05px;
    height: 72px;
    overflow: hidden;
    flex-shrink: 0;
    padding: 17.328521728515625px;
    box-sizing: border-box;
  }
  
  .footer-container {
    align-content: flex-start;
    gap: 64px;
    flex-wrap: wrap;
  }
  
  .footer-sitemap {
    display: flex;
    // width: 159px;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-spc-2xs, 4px);
  }
  
  .footer-collection-content {
    align-items: unset;
  padding: var(--spacing-spc-none, 0px);
  gap: var(--Spacing-2, 16px);
  }
  
  .footer-contact-content{
    padding: 4px 8px;
  }
  
  .footer-media{
    display: flex;
    width: 100%;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-spc-sm, 16px);
    flex-shrink: 0;
  }
  .footer-icon-media button{
    color: #FFFFFF;
    gap: 32px;
    padding: 10px;
  }
}

@media screen and (max-width: 1040px) and (min-width: 768px){
  .footer{
    width: 100%;
    padding: 48px 24px;

    .footer-holder {
      justify-content: center;
    }
  }
}
   
@media screen and (max-width: 767px) {
  .footer{
    width: 100%;

    .footer-holder {
      justify-content: center;
      gap: 36px;
    }

    .footer-nav {
      gap: 36px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }
  }
  /* .footer{
    padding: 24px;
  }  
  .footer-nav{
      gap: 15px;
      width: 60px;
      margin: 0 auto;
    }
  .footer-sitemap{
    width: 69px;
  }
  .footer-button Button div p, .footer-contact-content div p{
    font-size: 7.222px;
  }
  .footer-contact-content div i{
    font-size: 8px !important;
  }
  .footer-sitemap-content, .footer-collection-content, .footer-button-right, .footer-contact-content{
    gap: 1px;
  }
  .footer-logo{
    margin: 0 auto;
  }
  .footer-button Button .footer-btn-frame, .footer-button>button{
    padding: 0px;
  }
  .footer-button-left{
    margin-right: 6px;
  }
  .footer-media{
    width: 100%;
    align-items: center;
    justify-content: center;
  } */
}