.hero-frame {
    position: relative;
    height: 413px;
}

.hero-image-child {
    width: 100%;
    height: 413px;
    object-fit: cover;
}

.policy:hover {
    box-shadow: inset 0 0 0 2px #5E503F;
}

.policy:active {
    box-shadow: inset 0 0 0 1px #EAE0D5, 0 0 0 1px #5E503F;
    background: #5E503F;
    color: white;
}

.hero-content {
    position: absolute;
    text-align: center;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    height: 131px;
    background: rgba(255, 255, 255, 0.80);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    padding: 64px 128px;
    color: #593C35;
}


ol {
    padding-left: 20px;
}

.policies {
    display: flex;
    min-width: 200px;
    max-width: 800px;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-spc-xs, 8px);
    flex: 1 0 0;
    text-align: center;
    /* margin-right: 1vw; */
}

.policy {
    display: flex;
    padding: var(--spacing-spc-sm, 16px) var(--spacing-spc-none, 16px);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-spc-none, 0px);

    align-self: stretch;
    border-radius: var(--spacing-spc-none, 0px);
    border: 1px solid var(--Accent-Color, #5E503F);
    background: var(--Spring-Wood, #EAE0D5);
}

.right-content {
    display: flex;
    width: 60vw;
    padding: var(--spacing-spc-none, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-spc-md, 10px);
}

body {
    margin-top: 5px;
    margin-left: 0px;
}

p {
    margin-left: 0;
}

ol li {
    padding-top: 0;
}

.bold {
    font-size: 20px;
    font-weight: bold;
}

.return-and-refund-right {
    margin-bottom: 10px;
}

.term-1,
.term-2,
.term-3,
.term-4,
.term-5 {
    padding-bottom: 5px;
}