.collection-comp {
    .home-collection {
        display: grid;
        grid-template-columns: repeat(4, 280px);
        grid-gap: 24px;
        justify-content: space-around;
    }
    
    .collection-card-item {
        position: relative;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
        width: 280px;
        height: 320px;
        display: flex;
        align-items: flex-end;
        gap: 10px;
        flex-shrink: 0;
    }
    
    .collection-card-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .text-collection {
        position: absolute;
        left: 10px;
        bottom: 10px;
        color: white;
        text-shadow: 2px 1px 0px #000;
    }
    @media only screen and (max-width: 1366px) and (min-width: 768px) {
        .home-collection{
            grid-template-columns: repeat(3, 280px);
            grid-gap: 7.66px;
        }
    }
    @media only screen and (max-width: 767px) {
        .home-collection {
            grid-template-columns: repeat(3, 140px);
            grid-gap: 4px;
        }

        .collection-card-item {
            width: 140px;
            height: 160px;
        }

        .collection-card-item p {
            font-size: 14px;
        }
    }
}