.cover-header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 600px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.header {
    list-style: none;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    @media (max-width: 600px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 40px;
    }

}

.img-header {
    width: 160px;
}

.navlink {
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    color: black;
}

.navlink:hover {
    color: #ef5e47;
    cursor: pointer;
}

.login {
    text-decoration: none;
    padding-right: 10px;
    text-transform: uppercase;
    color: black;
}

.side-login {
    display: flex;
    justify-content: flex-end;
    margin-left: 35px;
}

.login:hover {
    color: #ef5e47;
    cursor: pointer;
}

.button-header {
    background-color: none;
    border: none;
    margin-left: 20px;
}

.button-header:hover {
    cursor: pointer;
}

.Cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img{
    display: flex;
    justify-content: flex-start;
    width: 100px;
    
}

.img-cart{
    width: 50px;
}

.title-price{
    width: 100px;
}