.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(17, 24, 39);
  color: white;
  padding-bottom: 2.5rem;
  gap: 2rem;

  @media (max-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.col {
  list-style: none;

}

.h2footer {
  margin-bottom: 1rem;
  color: gray;
}

.footer {
  list-style: none;
  padding: 10px;
}

.link-footer {
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

.link-footer:hover {
  color: rgb(255, 208, 0);
}

.handle-img {
  display: flex;
  gap: 10px;
}

.img-footer {
  width: 10px;
}

.icon-footer {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.icon-footer:hover {
  cursor: pointer;
}

.under-title-footer {
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.orther {
  display: flex;
  flex-direction: column;
}

.under {
  display: flex;
  list-style: none;
  margin-top: 20px;
  gap: 30px;
}

.input-footer {
  width: 250px;
  height: 50px;
  border-radius: 10px;
}

.cover {
  padding: 2rem;
  background-color: rgb(17, 24, 39);
  color: white;
  height: 500px;
  width: 100%;
}

.under-title {
  font-size: 1.1rem;
  color: #797776;
}

.li-footer {
  padding-top: 20px;
}

.button-footer {
  width: 30px;
  display: flex;
  position: relative;
  left: 220px;
  top: -30px;
  border: none;
  background: none;
  cursor: pointer;
  color: blue;
}