.section_card {
  padding-top: 120px;
  padding-bottom: 120px;
  align-items: center;
}

.contain {
  width: 90%;
  margin: 0 auto;
}
.swal2-popup {
  font-size: 1.6rem !important;
  font-family: Georgia, serif;
}
.input {
  outline: none;
  font-size: .9em;
  padding: 1em 3em 1em 1em;
  border: none;
  margin-bottom: 0.3em;
  background: rgba(255, 255, 255, 0.85);
  width: 82%;
  height: 50%;
  color: #000;
  border-radius: 30px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.button-login {
  color: white;
  background: #ea2858;
  border: none;
  padding: 0.7em 0;
  outline: none;
  width: 100px;
  font-size: 1em;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  border-radius: 30px;
}

h1 {
  padding-top: 1rem;
  font: inherit;
  vertical-align: baseline;
  font-size: 3em;
  letter-spacing: 8px;
  font-weight: 500;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  text-shadow: 5px 3px 5px
}

.section-title {
  color: #ef5e47;
  font-size: 1.2rem;
  font-family: 'Kaushan Script';
}